@model IEnumerable<Service.DTO.ProductDTO>

@{
    ViewBag.Title = "Product";
}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <!-- Autofill table start -->
            <div class="card">
                <div class="card-header">
                    <h5>Auto Fill</h5>
                    <span>AutoFill gives an Excel like option to a DataTable to click and drag over multiple cells, filling in information over the selected cells and incrementing numbers as needed.</span>

                    <div class="card-header-right">
                        <ul class="list-unstyled card-option">
                            <li><i class="feather icon-maximize full-card"></i></li>
                            <li><i class="feather icon-minus minimize-card"></i></li>
                            <li><i class="feather icon-trash-2 close-card"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="card-block">
                    <div class="dt-responsive table-responsive">
                        <table data-addProduct="@Url.Action("GetAddProduct","Product")" id="dataTableProduct" class="display" style="width:100%" data-url="@Url.Action("GetProducts","Product")">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>@Html.DisplayNameFor(model => model.Type)</th>
                                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                                    <th>@Html.DisplayNameFor(model => model.Market)</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Modal*@
<div id="addProductModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal1kWidth modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Add Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-sm-12 align-center">
                    <div class="form-radio">
                        <form id="productTypeButtonRadio">
                            <div class="radio radio-outline radio-inline">
                                <label>
                                    <input type="radio" name="radio" value="FOREX" checked="checked">
                                    <i class="helper"></i>FOREX
                                </label>
                            </div>
                            <div class="radio radio-outline radio-inline">
                                <label>
                                    <input type="radio" name="radio" value="OPTION">
                                    <i class="helper"></i>OPTION
                                </label>
                            </div>
                            <div class="radio radio-outline radio-inline">
                                <label>
                                    <input type="radio" name="radio" value="FUTURE">
                                    <i class="helper"></i>FUTURE
                                </label>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="bodyProduct">
                    ...
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeModalAddProduct" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" data-addProductUrl="@Url.Action("AddProduct","Product")" id="addProductButton" class="btn btn-primary">Add Product</button>
            </div>
        </div>
    </div>
</div>





@section scripts {
    <script src="~/Scripts/Admin/Product.js"></script>
}
